PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE `users` (`userId` INTEGER PRIMARY KEY AUTOINCREMENT, `name` VARCHAR(255) NOT NULL, `email` VARCHAR(255) NOT NULL UNIQUE, `password` VARCHAR(255) NOT NULL, `phones` JSON DEFAULT '[]', `isActive` TINYINT(1) DEFAULT 1, `resetOtp` VARCHAR(255), `otpExpiry` DATETIME, `createdAt` DATETIME NOT NULL, `updatedAt` DATETIME NOT NULL);
INSERT INTO users VALUES(1,'admin','ua@gmail.com','$2a$10$priqYTWTw0Mix48Gq9OXVuHcLk9ofcI8g5qDG0U8ko5xMBmyIgOEG','["01863180095"]',1,NULL,NULL,'2026-04-29 00:50:01.091 +00:00','2026-04-29 00:50:01.091 +00:00');
INSERT INTO users VALUES(2,'student','us@gmail.com','$2a$10$ui3Ms6RVODwPCx/arz5RBu26VpfA0bWPxF.lzzBWXAI9cW.VanBm.','[]',1,NULL,NULL,'2026-04-29 00:51:20.403 +00:00','2026-04-29 00:51:20.403 +00:00');
INSERT INTO users VALUES(3,'admin','ud@gmail.com','$2a$10$FcwJXYKmKbTKFF7.KhL6VOeUp4FD4NLtn6tPuHzQF64sXuSg0fzge','["01863180095"]',1,NULL,NULL,'2026-04-29 00:52:13.245 +00:00','2026-04-29 00:52:13.245 +00:00');
CREATE TABLE `students` (`studentId` INTEGER PRIMARY KEY AUTOINCREMENT, `userId` INTEGER NOT NULL UNIQUE REFERENCES `users` (`userId`) ON DELETE CASCADE ON UPDATE CASCADE, `institute` VARCHAR(255), `levelOfStudy` VARCHAR(255), `registrationDate` DATETIME, `createdAt` DATETIME NOT NULL, `updatedAt` DATETIME NOT NULL);
INSERT INTO students VALUES(1,2,'IGDC','HSC','2026-04-29 00:51:21.397 +00:00','2026-04-29 00:51:21.401 +00:00','2026-04-29 00:51:21.401 +00:00');
CREATE TABLE `teachers` (`teacherId` INTEGER PRIMARY KEY AUTOINCREMENT, `userId` INTEGER NOT NULL UNIQUE REFERENCES `users` (`userId`) ON DELETE CASCADE ON UPDATE CASCADE, `institute` VARCHAR(255), `qualification` VARCHAR(255), `solvedCount` INTEGER DEFAULT 0, `joinDate` DATETIME, `isActive` TINYINT(1) DEFAULT 1, `createdAt` DATETIME NOT NULL, `updatedAt` DATETIME NOT NULL);
INSERT INTO teachers VALUES(1,4,'CUET','Bsc',4,'2026-04-29 01:01:27.987 +00:00',1,'2026-04-29 01:01:27.988 +00:00','2026-04-29 04:17:23.968 +00:00');
CREATE TABLE `admins` (`adminId` INTEGER PRIMARY KEY AUTOINCREMENT, `userId` INTEGER NOT NULL UNIQUE REFERENCES `users` (`userId`) ON DELETE CASCADE ON UPDATE CASCADE, `role` VARCHAR(255) DEFAULT 'admin', `createdAt` DATETIME NOT NULL, `updatedAt` DATETIME NOT NULL);
INSERT INTO admins VALUES(1,1,'admin','2026-04-29 00:50:11.317 +00:00','2026-04-29 00:50:11.317 +00:00');
INSERT INTO admins VALUES(2,3,'admin','2026-04-29 00:52:13.267 +00:00','2026-04-29 00:52:13.267 +00:00');
CREATE TABLE `courses` (`courseId` INTEGER PRIMARY KEY AUTOINCREMENT, `title` VARCHAR(255) NOT NULL UNIQUE, `category` VARCHAR(255), `duration` VARCHAR(255), `price` DECIMAL(10,2) DEFAULT 0, `createdAt` DATETIME NOT NULL, `updatedAt` DATETIME NOT NULL);
INSERT INTO courses VALUES(1,'Complete HSC Science Prep','Higher Secondary (Science)','1 Year',3000,'2026-04-29 00:56:15.062 +00:00','2026-04-29 00:56:15.062 +00:00');
INSERT INTO courses VALUES(2,' Engineering Admission Preparation (BUET , CUET ,KUET,RUET ,DU)','Admission Test','1 Year',5000,'2026-04-29 00:57:13.762 +00:00','2026-04-29 00:57:13.762 +00:00');
INSERT INTO courses VALUES(3,'SSC 2027 full revision course ','SSC academic course','1 Year',3500,'2026-04-29 00:58:04.447 +00:00','2026-04-29 00:58:04.447 +00:00');
CREATE TABLE `subjects` (`subjectId` INTEGER PRIMARY KEY AUTOINCREMENT, `subjectName` VARCHAR(255) NOT NULL UNIQUE, `createdAt` DATETIME NOT NULL, `updatedAt` DATETIME NOT NULL);
INSERT INTO subjects VALUES(1,'Physics','2026-04-29 01:04:21.580 +00:00','2026-04-29 01:04:21.580 +00:00');
INSERT INTO subjects VALUES(2,'Chemistry','2026-04-29 01:05:03.376 +00:00','2026-04-29 01:05:03.376 +00:00');
INSERT INTO subjects VALUES(3,'ICT','2026-04-29 01:05:53.882 +00:00','2026-04-29 01:05:53.882 +00:00');
CREATE TABLE `questions` (`questionId` INTEGER PRIMARY KEY AUTOINCREMENT, `questionTitle` VARCHAR(255) NOT NULL, `description` TEXT, `status` TEXT DEFAULT 'pending', `postAt` DATETIME, `answeredAt` DATETIME, `studentId` INTEGER NOT NULL REFERENCES `students` (`studentId`) ON DELETE CASCADE ON UPDATE CASCADE, `subjectId` INTEGER REFERENCES `subjects` (`subjectId`) ON DELETE CASCADE ON UPDATE CASCADE, `courseId` INTEGER REFERENCES `courses` (`courseId`) ON DELETE CASCADE ON UPDATE CASCADE, `originalQuestionId` INTEGER REFERENCES `questions` (`questionId`) ON DELETE CASCADE ON UPDATE CASCADE, `createdAt` DATETIME NOT NULL, `updatedAt` DATETIME NOT NULL);
INSERT INTO questions VALUES(1,'  conservation of energy','I''m having trouble understanding how energy is conserved in a closed system.','pending','2026-04-29 01:04:21.598 +00:00',NULL,1,1,1,NULL,'2026-04-29 01:04:21.598 +00:00','2026-04-29 01:04:21.598 +00:00');
INSERT INTO questions VALUES(2,'terminal velocity''.','Why don''t falling objects just keep accelerating forever?','solved','2026-04-29 01:04:43.864 +00:00','2026-04-29 01:09:44.947 +00:00',1,1,1,NULL,'2026-04-29 01:04:43.864 +00:00','2026-04-29 01:09:44.949 +00:00');
INSERT INTO questions VALUES(3,'covalent bond','I need a clear explanation of how covalent bonding works between non-metals.','pending','2026-04-29 01:05:03.392 +00:00',NULL,1,2,1,NULL,'2026-04-29 01:05:03.392 +00:00','2026-04-29 01:05:03.392 +00:00');
CREATE TABLE `answers` (`answerId` INTEGER PRIMARY KEY AUTOINCREMENT, `answerText` TEXT, `answerAt` DATETIME, `questionId` INTEGER NOT NULL UNIQUE REFERENCES `questions` (`questionId`) ON DELETE CASCADE ON UPDATE CASCADE, `teacherId` INTEGER NOT NULL REFERENCES `teachers` (`teacherId`) ON DELETE CASCADE ON UPDATE CASCADE, `studentId` INTEGER NOT NULL REFERENCES `students` (`studentId`) ON DELETE CASCADE ON UPDATE CASCADE, `createdAt` DATETIME NOT NULL, `updatedAt` DATETIME NOT NULL);
INSERT INTO answers VALUES(1,'Terminal velocity is the constant speed that a freely falling object eventually reaches when the resistance of the medium (like air) prevents further acceleration. At this point, the downward force of gravity exactly equals the upward force of air resistance, resulting in zero net force and constant velocity.','2026-04-29 01:09:44.938 +00:00',2,1,1,'2026-04-29 01:09:44.938 +00:00','2026-04-29 01:09:44.938 +00:00');
INSERT INTO answers VALUES(2,'HTTP (Hypertext Transfer Protocol) transmits data across the internet in plain text, making it vulnerable to interception by hackers. HTTPS is the secure version (the ''S'' stands for Secure). It uses encryption (SSL/TLS) to scramble the data transferred between your browser and the website, protecting sensitive information like passwords and credit card numbers.','2026-04-29 01:10:06.733 +00:00',5,1,1,'2026-04-29 01:10:06.734 +00:00','2026-04-29 01:10:06.734 +00:00');
INSERT INTO answers VALUES(3,'To calculate the area of a circle, you use the formula Area = π × r² (pi times the radius squared). To find the perimeter (circumference), the formula is Circumference = 2 × π × r. ''π'' (Pi) is a mathematical constant approximately equal to 3.14159, which represents the ratio of a circle''s circumference to its diameter.','2026-04-29 01:10:27.622 +00:00',8,1,1,'2026-04-29 01:10:27.622 +00:00','2026-04-29 01:10:27.622 +00:00');
CREATE TABLE `attachments` (`id` INTEGER PRIMARY KEY AUTOINCREMENT, `fileName` VARCHAR(255) NOT NULL, `fileUrl` VARCHAR(255) NOT NULL, `fileType` VARCHAR(255), `questionId` INTEGER REFERENCES `questions` (`questionId`) ON DELETE CASCADE ON UPDATE CASCADE, `answerId` INTEGER REFERENCES `answers` (`answerId`) ON DELETE CASCADE ON UPDATE CASCADE, `createdAt` DATETIME NOT NULL, `updatedAt` DATETIME NOT NULL);
INSERT INTO attachments VALUES(1,'f825bb27-9cef-4a77-9496-9f0df8041e30-585.94j.mp3','/uploads/f825bb27-9cef-4a77-9496-9f0df8041e30-585.94j.mp3','audio/mpeg',19,NULL,'2026-05-02 14:23:34.445 +00:00','2026-05-02 14:23:34.445 +00:00');
CREATE TABLE `payments` (`paymentId` INTEGER PRIMARY KEY AUTOINCREMENT, `paymentDate` DATETIME, `amount` DECIMAL(10,2) NOT NULL, `paymentMethod` VARCHAR(255), `studentId` INTEGER NOT NULL REFERENCES `students` (`studentId`) ON DELETE CASCADE ON UPDATE CASCADE, `courseId` INTEGER NOT NULL REFERENCES `courses` (`courseId`) ON DELETE CASCADE ON UPDATE CASCADE, `createdAt` DATETIME NOT NULL, `updatedAt` DATETIME NOT NULL);
INSERT INTO payments VALUES(1,'2026-04-29 01:02:23.654 +00:00',3000,'bkash',1,1,'2026-04-29 01:02:23.656 +00:00','2026-04-29 01:02:23.656 +00:00');
INSERT INTO payments VALUES(2,'2026-04-29 01:02:31.641 +00:00',5000,'nogod',1,2,'2026-04-29 01:02:31.642 +00:00','2026-04-29 01:02:31.642 +00:00');
CREATE TABLE `feedbacks` (`feedbackId` INTEGER PRIMARY KEY AUTOINCREMENT, `comment` TEXT, `submittedAt` DATETIME, `studentId` INTEGER NOT NULL REFERENCES `students` (`studentId`) ON DELETE CASCADE ON UPDATE CASCADE, `teacherId` INTEGER NOT NULL REFERENCES `teachers` (`teacherId`) ON DELETE CASCADE ON UPDATE CASCADE, `createdAt` DATETIME NOT NULL, `updatedAt` DATETIME NOT NULL);
CREATE TABLE `reset_tokens` (`id` INTEGER PRIMARY KEY AUTOINCREMENT, `otp` VARCHAR(255) NOT NULL, `expiryDate` DATETIME NOT NULL, `userId` INTEGER NOT NULL UNIQUE REFERENCES `users` (`userId`) ON DELETE CASCADE ON UPDATE CASCADE, `createdAt` DATETIME NOT NULL, `updatedAt` DATETIME NOT NULL);
CREATE TABLE `course_subjects` (`createdAt` DATETIME NOT NULL, `updatedAt` DATETIME NOT NULL, `CourseCourseId` INTEGER NOT NULL REFERENCES `courses` (`courseId`) ON DELETE CASCADE ON UPDATE CASCADE, `SubjectSubjectId` INTEGER NOT NULL REFERENCES `subjects` (`subjectId`) ON DELETE CASCADE ON UPDATE CASCADE, PRIMARY KEY (`CourseCourseId`, `SubjectSubjectId`));
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('users',4);
INSERT INTO sqlite_sequence VALUES('admins',2);
INSERT INTO sqlite_sequence VALUES('students',1);
COMMIT;
